@import './Variables.css';

.nav {
  position: fixed;
  width: 100%;
  height: 7vh;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: var(--main-color);
  color: #fbeccb;
}
  
.navList {
  display: flex;
  margin: 30vh 30vh;
  list-style-type: none;
  cursor: pointer;
  font-weight: bold;
}

.navItem:hover{
  color: #ffffff;
}

.navItemL {
  flex: 1;
  justify-content: start;
  font-size: 30px;
}
.navItemR {
  flex: 1;
  justify-content: end;
  font-size: 20px;
  gap: 20px;
}

.navHome {
  color: var(--sub-color);
}

.navAtProfile {
  background-color: white;
  color: var(--main-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); 
}
.navAtProfileFont:hover {
  color: #fbeccb;
}