/* body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.App {
  font-family: Arial, sans-serif;
}

/* .content{
  margin-top: 60px;
} */

.content{
  background-color: gray;
}

.home{
  height: 70vh;
  background-color: #ecbd47;
}